footer {
    background-color: #1b1b1b;
    box-shadow: 20px 15px 30px rgba(77, 77, 77, 0.8);
    margin: 60px auto;
}

.section-footer {
    margin: 50px auto;
}

.footer-nav {
    list-style: none;
    float: left;
    margin-top: 30px;
}

.social-links {
    list-style: none;
    float: right;
    margin-top: 30px;
}


.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.3s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: rgb(223, 223, 223);
}


.ion-social-facebook,
.ion-social-instagram,
.ion-social-linkedin {
    transition: color 0.3s;
    font-size: 130%;
    color: #888;
}


.ion-social-linkedin:hover {
    color: #007bb6;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 80px;
    margin-bottom: 80px;
  
}

.social {
    height: 35px;
    width: 35px;
}