

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.row {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
  max-width: 1140px;
  margin: 0 auto;
}

body {

  font-family: 'Lato', 'Arial';
  font-size: 20px;
  font-weight: 300;
  text-rendering: optomizeLegibiliity;
  background-color: #4b4b4b;
}

nav {
  display: flex;
}

h3 {
  font-weight: 300;
  padding: 6px 18px;
  border-radius: 6px;
  color: #ffa04b; 
  border: 2px solid #ffa04b;
  
}

h4{
  color: #fff;
  font-size: 90%;
}

p {
  color: #fff;
  font-size: 90%;
}
